<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" th:href="@{/css/button.css}">
</head>
<body>

<h2>Welcome to Home Page</h2>
<div th:if="${message2} =='no'">
    <h3>You are not logged in</h3>
    <h3>To access employees' data please log in <a href="/login" class="button">Go to Log in Page</a></h3>
    <h3>If you are not registered please go to register page <a href="/register" class="button">Go to Register Page</a></h3>
</div>

<div th:if="${message2} =='yes'">
    <h3>You are logged in</h3>
    <h3><a href="/empAccessPage" class="button">Go to Employee Data Access Page</a></h3>
    <h3><a href="/logout" class="button">Log out</a></h3>
</div>

<br>
<h4>In Employee Data Access Page, you can get all employees data, add new employee data,
    delete or update existing data and find employees by their id, firstname, lastname, salary and position</h4>

</body>
</html>